<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.actividadaprendizaje1">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActividadAprendizaje1">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCLBgnBFBMy3SmyEmGUFF-RIt8UE9PAwpo"/>

        <activity
            android:name=".mapas.talleresActivity"
            android:exported="false" />
        <activity
            android:name=".facturaActivity"
            android:exported="false" />
        <activity
            android:name=".inicio.initActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vehiculos.listadoVehiculosActivity"
            android:exported="false" />
        <activity
            android:name=".usuarios.listadoTrabajadoresActivity"
            android:exported="false" />
        <activity
            android:name=".usuarios.listadoClientesActivity"
            android:exported="false" />
        <activity
            android:name=".usuarios.nuevoClienteActivity"
            android:exported="false" />
        <activity
            android:name=".usuarios.zonaUsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".vehiculos.zonaVehiculosActivity"
            android:exported="false" />
        <activity
            android:name=".inicio.indexActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".usuarios.nuevoTrabajadorActivity"
            android:exported="false" />
        <activity
            android:name=".vehiculos.nuevaEntradaActivity"
            android:exported="false" />
    </application>

</manifest>